body {
    background-color: #CEBEBE;
    justify-content: center;
    align-items: center;


}

h1 {
    font-family: 'Coolvetica';
    font-size: 130%;
    color: #0C0910;
}

h2 {
    font-family: 'Coolvetica';
    font-size: 130%;
    color: #0C0910;
}

.text {
    font-family: 'Karmatic Arcade';
    color: #6d2e46;
}

#taswira {
    width: 5%;
}

#groupe {
    display: flex;
    width: 100%;
    position: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    font-size: 29px;
    color: #6d2e46;
    border-radius: 25px;
}



#products {
    display: inline-block;
    margin: auto;
    columns: 3;
    text-align: center;
}

/* Styles for individual images */
#products img {
    width: 50%;
    height: auto;
    transition: transform 0.3s ease;
}

/* Hover effect on images */
#products img:hover {
    transform: scale(1.05);
}

/*
#products {
    display: inline-block;
    margin: auto;
    columns: 3;
    text-align: center;

}